body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav{
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
}
.center-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}

.logo{
    font-size: 32px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    margin: 0 16px;
}

ul{
    display: flex;
    gap: 16px;
    list-style: none;
    margin-right: 16px;
    justify-content: center;
    align-content: space-around;
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 200;
}

.first-section{
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    gap: 20px;
    padding: 70px;
}

.info-1 {
    max-width: 50%;
    margin: 20px;
}

.img-1 {
    max-width: 50%;
    margin: 20px;
}

.info-1 h1 {
    color: white;
    font-weight: 900;
    padding: 10px;
}

.info-1 p {
    color: #f9faf8;
    padding: 10px;
}

.first-button{
    padding: 6px 20px ;
    border-radius: 9px;
    margin-left: 10px;
    background-color: #3882f6;
    color: #f9faf8;
    border: #f9faf8 solid 1px;
}

.img-1 img {
    max-width: 100%;
}

.second-section{
    display: flex;
    background-color: #f9faf8;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 60px;
    
    
}

.product-container{
    display: flex;
    gap: 20px;
}

.items{
    width: 200px;
    height: auto;
}

.items p{
    text-align: center;
    padding: 10px;
    color: #555;
}

.items img {
    border: solid 3px #3882f6;
    border-radius: 9px;
}
.second-section h2{
    margin-bottom: 50px;
    font-size: 50px;
}

.thired-section{
    display: flex;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    padding: 60px;
    height: 300px;
}

.thired-section .texts{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.texts p{
    font-size: 20px;
    font-style: italic;
    font-weight: lighter;
}

.texts b{
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    font-weight: bolder;
}

.fouth-section{
    display: flex;
    justify-content: center;
    background-color:#f9faf8 ;
}

.iner-info{
    background-color: #3882f6;
    display: flex;
    margin: 150px;
    padding: 20px;
    border-radius: 9px;
    line-height: 40px;

}

.last-button{
    padding: 6px 20px ;
    border-radius: 9px;
    margin-left: 10px;
    background-color: #3882f6;
    color: #f9faf8;
    width: 100px;
    margin-top: 40px;
    margin-left: 20px;
    border: #f9faf8 solid 1px;
}

.info-butt{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.info-text h3 {
    color: #f9faf8;
    font-weight: bolder;
    margin: 5px;
    
}

.info-text p{
    color: #f9faf8;
    text-align: left;
    margin: 5px;
}
