body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav{
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 32px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    margin: 0 16px;
}

ul{
    display: flex;
    gap: 16px;
    list-style: none;
    margin-right: 16px;
    justify-content: center;
    align-content: space-around;
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 200;
}